
transitedb/\.settings/

expermints/SrcUmlBrowser/lib/

crimedb/\.settings/

common/\.settings/

RemoteSystemsTempFiles/

RouteFinding/

\.recommenders/

\.metadata/
/.settings/
/.project
.gitignore
*.iml
.idea
/.DS_Store
