<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	
	<!-- Web Services -->
	<bean id="marshaller" 
	      class="org.springframework.oxm.xstream.XStreamMarshaller" />
	      
	<bean id="payloadMapping" 
		  class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping" >
  		<property name="endpointMap">
   			<map>
      			<entry key="{http://org/transiteRepositroy/server/schemas}CircleQueryRequest"
          			   value-ref="circleQueryRequestEndpoint" />
      			<entry key="{http://org/transiteRepositroy/server/schemas}GenerateHeasMapRequst"
          			   value-ref="generateHeatMapRequestEndpoint" />
      			<entry key="{http://org/transiteRepositroy/server/schemas}ClusterQueryRequest"
          			   value-ref="clusterQueryRequestEndpoint" />
      			<entry key="{http://org/transiteRepositroy/server/schemas}RouteGeometryRequest"
          			   value-ref="routeGeometryRequestEndpoint" />
      			<entry key="{http://org/transiteRepositroy/server/schemas}RouteRequest"
          			   value-ref="routeRequestEndpoint" />
      			<entry key="{http://org/transiteRepositroy/server/schemas}TransiteStopQueryRequest"
          			   value-ref="transiteStopQueryRequestEndpoint" />
    		</map>
  	    </property>
	</bean>
	
	<bean id=" endpointExceptionResolver"
    	  class="org. springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver" >
	  <property name=" exceptionMappings">
	    <props>
	       <prop key="org.springframework.oxm.UnmarshallingFailureException" >SENDER, Invalid message received</prop>
	       <prop key="org.springframework.oxm.ValidationFailureException">SENDER, Invalid message received</prop>
	    </props>
	  </property>
	  <property name=" defaultFault"  value=" RECEIVER, Server error" />
    </bean>
    
	<bean id="transiteRepositroy" class="org.springframework.ws.wsdl.wsdl11.DynamicWsdl11Definition" >
        <property name=" builder">
	    	<bean class="org.springframework.ws.wsdl.wsdl11.builder.XsdBasedSoap11Wsdl4jDefinitionBuilder" >
	      		<property name=" schema" value="/TransiteRepositroy.xsd" />
	     		<property name="portTypeName" value="TransiteRepositroy" />
	     		<property name="locationUri" 
	     				  value="http://localhost:8080/TransiteRepositroy-WS/services" />
	       </bean>
       </property>
    </bean>
	
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	
	<bean id="DataMiningHandler" 
	      class="org.transiteRepositry.server.logic.impl.DataMiningImpl">
	      <property name="agencyDao" ref="agencyDao" />
	      <property name="transiteStopDao" ref="transiteStopDao" />
	      <property name="densityEstimateAlgorithm" ref="densityEstimateAlgorithm" />
	      <property name="clusterAlgorithm" ref="clusterAlgorithm" />
	</bean>
	      
	<bean id="StopQueryHandler" 
		  class="org.transiteRepositry.server.logic.impl.StopQueryImpl" >
	      <property name="agencyDao" ref="agencyDao" />
	      <property name="transiteStopDao" ref="transiteStopDao" />	
	</bean>
	      
	<bean id="RouteQueryHandler" 
	      class="org.transiteRepositry.server.logic.impl.RouteQueryImpl">
		<property name="routeDao" ref="routeDao" />
	    <property name="routeGeometryDao" ref="routeGeometryDao" />
	</bean>
	      
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
   
	<bean id="circleQueryRequestEndpoint" 
		  class="org.transiteRepositry.server.services.CircleQueryRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="circleQuderyRequuestHandler" ref="StopQueryHandler" />
	</bean>
	
	<bean id="generateHeatMapRequestEndpoint" 
		  class="org.transiteRepositry.server.services.GenerateHeadMapRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="generateHeatMapHandler" ref="DataMiningHandler" />
	</bean>
	   
	<bean id="clusterQueryRequestEndpoint" 
		  class="org.transiteRepositry.server.services.ClusterQueryRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="clusterHandler" ref="DataMiningHandler" />
	</bean>
	
	<bean id="routeGeometryRequestEndpoint" 
		  class="org.transiteRepositry.server.services.RouteGeometryRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="routeQueryHandler" ref="RouteQueryHandler" />
	</bean>
	
	<bean id="routeRequestEndpoint" 
		  class="org.transiteRepositry.server.services.RouteRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="routeQueryHandler" ref="RouteQueryHandler" />
	</bean>
	
	<bean id="transiteStopQueryRequestEndpoint" 
		  class="org.transiteRepositry.server.services.TransiteStopQueryRequestEndpoint" >
  		<property name="marshaller" ref="marshaller" />
  		<property name="unmarshaller" ref="marshaller" />
 	    <property name="routeQueryHandler" ref="StopQueryHandler" />
	</bean>
	

	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	
	<!-- Hibernate SessionFactory -->
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
        		<value>org.postgresql.Driver</value>
        </property>
        <property name="url" value="jdbc:postgresql://localhost:5432/Transit" />
        <property name="username" value="postgres"/>
        <property name="password" value="postgis84!"/>
        	
    </bean>
	
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>config/hibernate/Agency.hbm.xml</value>
                <value>config/hibernate/CalendarDate.hbm.xml</value>
                <value>config/hibernate/Route.hbm.xml</value>
                <value>config/hibernate/RouteGeometry.hbm.xml</value>
                <value>config/hibernate/ServiceDate.hbm.xml</value>
				<value>config/hibernate/TransitStop.hbm.xml</value>
				<value>config/hibernate/Trip.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</prop>
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	        </props>
        </property>
    </bean>
			
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->

	<bean id="agencyDao" class="me.transit.dao.impl.AgencyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="calendarDateDao" class="me.transit.dao.impl.CalendarDateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="routeDao" class="me.transit.dao.impl.RouteDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
		
	<bean id="reouteGeometryDao" class="me.transit.dao.impl.RouteGeometryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="serviceDateDao" class="me.transit.dao.impl.ServiceDateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
		
	<bean id="transiteStopDao" class="me.transit.dao.impl.TransiteStopDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="tripDao" class="me.transit.dao.impl.TripDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	<!-- ***************************************************************************** -->
	
	<bean id="kernel" class="me.datamining.Kernel.Epanechnikov" />
	<bean id="bandWidth" class="me.datamining.bandwidth.SlivermanRule" />
	
	<bean id="densityEstimateAlgorithm" class="me.datamining.densityEstimate.NonAdaptiveKDE">
		<property name="denstiyKernel" ref="kernel"/>
		<property name="XBandWidth" ref="bandWidth"/>
		<property name="YBandWidth" ref="bandWidth"/>
	</bean>

	<bean id="clusteringAlgorithm" class="me.datamining.cluster.STING">
		<property name="rangeHi" value="1000000"/>
		<property name="rangeLow" value="0"/>
		<property name="confidence" value="0.5"/>
		<property name="density" value="1.0"/>
	</bean>		
	
</beans>